body {
    font-family: "Times New Roman";
    font-size: 16px;
    text-align: justify;
    color:green;
}

h1{
    font-family: Verdana;
    font-size: 24px;
    font-style: bold;
    text-align:center;
    color: red;
    padding-bottom:1.5cm;
}
.Podnaslov{
    font-family: Verdana;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
